# ThingsBoard Settings
THINGSBOARD_URL=http://localhost:8080
THINGSBOARD_USERNAME=your@tb.com
THINGSBOARD_PASSWORD=your_password

# Farm calendar endpoint
FARM_CALENDAR_URL=https://external.service/api/v1
FC_USERNAME=name
FC_PASSWORD=name!

PH_ACTIVITY_TYPE_ID=000000
TEMP_ACTIVITY_TYPE_ID=100000
HUMIDITY_ACTIVITY_TYPE_ID=200000
